<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	<hibernate-configuration>
	<!-- 文件必须放在src下，名称必须为hibernate.cfg.xml -->
		<session-factory>
		<!--1.配置数据库信息  -->
			<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
			<property name="hibernate.connection.username">system</property>
			<property name="hibernate.connection.password">root</property>
			<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>
		<!--2.配置hibernate信息  -->
			<!-- 输出底层sql语句 -->
			<property name="hibernate.show_sql">true</property>
			<!-- 格式化sql语句，让它分行显示 -->
			<property name="hibernate.format_sql">true</property>
			<!-- 一般用update，可以自动创建表 -->
			<property name="hibernate.hbm2ddl.auto">update</property>
			<!-- 配置数据库的方言，让框架认识不同数据库的不同关键字 -->
			<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
			<!--与本地线程绑定的session
			<property name="hibernate.current_session_context_class">thread</property>
			sessionFactory.getCurrentSession()
			-->
		<!--3.配置映射文件  -->
			<!-- 可以按住CTRL然后点击，看是否跳转验证正确没 -->
			<mapping resource="entity/User.hbm.xml"/>
		</session-factory>
	</hibernate-configuration>